@import "reset";

// COLORS
$green-font: #79b74d;
$light-font: #a7a7a7;
$medium-font: #838383;
$dark-font: #4b4b4b;
$red-font: #d90122;
$border: #d0d0d0;

%absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

//FONTS
$open: "Open Sans",
sans-serif;

body {
    font-size: 16px;
    font-family: $open;
    color: $dark-font;
}

.container-fluid {
    max-width: 1230px !important;
}

.dark-font {
    color: $dark-font;
}

.light-font {
    color: $light-font;
}

.invalid-form {
    border-color: red;
}

.visible {
    display: initial;
}

.hidden {
    display: none;
}

#first {
    height: 73px;
    width: 100%;
    border-bottom: solid $border 1px;
    position: relative;
    max-width: 1200px;

    #blooom-logo {
        top: 10px;
        left: 40px;
    }

    #banking-rates-logo {
        top: 20px;
        right: 40px;
    }

    .top-logo {
        position: absolute;
    }
}

// ERASE
.mockup {
    margin: auto;
    background-image: url("assets/Desktop_Name2.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 5px;
    opacity: 0.4;
    z-index: 10;
}

#second {
    padding-bottom: 174px;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid $border 1px;
    text-align: center;

    #mobile-text-wrapper {
        display: none;

        @extend %absolute-center;

        #start-your-free-headline {
            font-size: 1.8em;
            margin: 5px 25px 0px 25px;
            color: $dark-font;
            letter-spacing: 2.1px;
            line-height: 33px;
        }

        #start-your-free-text {
            margin-top: 15px;
            font-size: 0.9em;
            color: $light-font;
        }
    }

    .form-wrapper {
        left: -10px;
    }

    #main-form {
        position: relative;
        top: 67px;
        border: 1px solid $border;
        margin: 0 auto;
        max-width: 489px;
        padding-bottom: 60px;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            border-radius: 5px;
        }

        .alarm-font {
            display: inline-block;
            font-size: 1.07em;
            margin-top: 40px;
            font-weight: 500;
            max-width: 90%;
        }

        .born-on {
            display: inline-block;
            margin-top: 40px;
            font-weight: 500;
        }

        .drop {
            background: transparent !important;
            margin-top: 12px;
            height: 43px;
            border: 1px solid $border !important;
            color: $light-font;
            font-style: italic;
            font-size: 1.2em;
            padding-left: 6px;
        }

        .fa-angle-down {
            position: absolute;
            color: $light-font;
            display: inline-block;
            margin-top: 17px;
            z-index: -100;
        }

        .fa1 {
            margin-left: 118px;
        }

        .fa2 {
            margin-left: 55px;
        }

        .fa3 {
            margin-left: 65px;
        }

        .fa4 {
            margin-left: 49px;
        }

        #month-drop {
            width: 147px;
            margin-left: 4px;
        }

        #day-drop {
            margin-left: 4px;
            width: 78px;
        }

        #year-drop {
            margin-left: 3px;
            width: 90px;
        }

        #retire-drop {
            margin-top: 10px;
            width: 78px;
            font-style: normal;
            padding-left: 13px;
        }

        .esp {
            font-size: 2em;
            font-weight: 700;
            margin: 43px 50px 0px 50px;
            line-height: 1.3;
        }

        #start-now {
            margin-top: 16px;
            height: 49px;
            width: 172px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0);
            color: white;
            background: $border;
            font-size: 1.3em;
            outline: none;
            font-weight: 200;
            letter-spacing: 1.7px;
        }

        #first-name-form {
            margin-top: 10px;
            width: 400px;
            max-width: 85%;
            background-color: transparent;
            height: 46px;
            border-radius: 5px;
            outline: none;
            text-align: center;
            border: 1px solid $border;
        }

        .name-form {
            margin-top: 40px;
        }

        .name-form:valid #start-now {
            background: $green-font;
        }

        .name-font {
            font-size: 1.15em;
        }
    }

    .checkup-wrapper {
        height: 635px;
        width: 200px;
        text-align: left;

        #check-wrapper-inner {
            margin-top: 105px;
        }

        #checkup-headline {
            color: $dark-font;
            font-size: 4.4em;
            margin-right: 30px;
            line-height: 1.07;
            margin-top: 35px;

            .start {
                letter-spacing: 3px;
            }

            .free {
                letter-spacing: 2px;
            }
        }

        #stacks {
            font-size: 1.3em;
            margin-top: -13px;
            color: $light-font;
        }

        #pig-logo {
            display: block;
            margin: 63px auto 0px 32px;
        }
    }

    #email-form-wrapper {
        display: inline-block;
        margin: 0px 25px 0px 25px;
        padding-bottom: 23px;

        #first-thing {
            margin-top: 38px;
            font-size: 1.9em;
            letter-spacing: 1.3px;
            line-height: 43px;
            color: $dark-font;
        }

        .email-form-text {
            margin: -3px 20px 0px 20px;
            color: $light-font;
            font-size: 1.2em;
            line-height: 29px;
            font-weight: 100;
        }

        .email-input {
            margin: 70px 0px 0px 5px;
            color: $light-font;
            height: 52px;
            width: 400px;
            border-radius: 5px;
            text-align: center;
            border: 1px solid $border;
            font-size: 1.15em;
            font-weight: 100;
            outline-color: transparent;
            outline-style: none;
        }

        .email-input::-webkit-input-placeholder {
            color: $border;
        }
    }

    .email-form:valid #email-submit-button {
        background: $green-font;
    }

    #email-submit-button {
        outline-color: transparent;
        outline-style: none;
        margin: 72px 0px 0px 2px;
        width: 175px;
        height: 49px;
        border-radius: 5px;
        background: $border;
        color: white;
        font-weight: 300;
        letter-spacing: 0.7px;
        font-size: 1.4em;
        border: 1px solid $border;
    }

    #account-exists {
        position: relative;
        color: $red-font;
        margin: -160px 0px 0px 10px;
        letter-spacing: 0.1px;
        font-size: 0.87em;

        .sign-in {
            color: $green-font;
        }
    }

    #exclamation {
        position: relative;
        margin: -160px 310px 0px 0px;
    }

    #have-account {
        margin-top: 15px;
        color: $light-font;
        font-size: 0.84em;

        .sign-in {
            color: $green-font;
        }
    }
}

#third {
    margin: 107px 55px 0px 57px;
    padding-bottom: 100px;
    border-bottom: 1px solid $border;

    a {
        color: $green-font;
    }

    #disclaimer-header {
        font-size: 2em;
    }

    #disclaimer-text {
        margin-top: 23px;
        line-height: 28px;
        color: $light-font;
    }
}

#fourth {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $border;
    max-width: 1090px;
    color: $dark-font;
    padding-bottom: 100px;

    .over {
        font-size: 2em;
    }

    .over1 {
        margin-top: 114px;
    }

    .over2 {
        margin-top: 70px;
    }

    .large {
        font-size: 7em;
        font-weight: 500;
    }

    .billion {
        margin: -15px 0px 0px 24px;
        letter-spacing: 3.5px;
    }

    .exponent {
        color: $light-font;
        font-size: 0.5em;
        position: relative;
        top: -52px;
        left: -7px;
    }

    #assets {
        font-size: 1.95em;
        margin-top: 31px;
        letter-spacing: 1.5px;
        padding-bottom: 58px;
    }

    #underline1 {
        border-bottom: 1px solid $border;
        width: 390px;
        margin: 0 auto;
    }

    .underline2 {
        border-bottom: 1px solid $border;
        width: 1090px;
        margin: 0 auto;
    }

    .hundred-thousand {
        letter-spacing: 1.7px;
        margin: -10px 0px 0px 25px;
    }

    .exponent2 {
        top: -65px;
        left: 6px;
    }

    #analyzed {
        font-size: 1.95em;
        margin-top: 23px;
        letter-spacing: 0.6px;
    }
}

#fifth {
    margin: 0 auto;
    text-align: center;
    max-width: 1090px;
    color: $dark-font;
    padding-bottom: 60px;

    ul {
        margin-top: 50px;
    }

    li {
        display: inline-block;
        margin: 0px 51px 0px 51px;
    }

    #employees-heading {
        font-size: 2.7em;
        font-weight: 500;
        margin-top: 97px;
        letter-spacing: 1.4px;
    }
}

footer {
    border-top: 1px solid $border;
    height: 100px;
    color: $light-font;
    padding-top: 43px;
    width: 86%;
    position: relative;
    max-width: 1200px;
    position: absolute;
    margin: 30px auto 0px auto;
    left: 0;
    right: 0;

    #copywrite {
        text-align: center;
        margin-left: -6px;
        letter-spacing: 0.1px;
        font-size: 0.7em;

        #copy-symbol {
            font-size: 1.4em;
        }
    }

    #small-text {
        position: absolute;
        right: 5px;
        font-size: .7em;
        margin-top: -67px;
    }
}

////////////
// TABLET //
////////////
@media only screen and (max-width: 1024px) {
    .container-fluid {
        padding: 0;
    }

    #first {
        height: 104px;
        width: 100vw;
        position: absolute;
        right: 0px;

        #blooom-logo {
            top: 18px;
            margin: 0px auto 0px auto;
            left: 0;
            right: 0;
        }

        #banking-rates-logo {
            margin: 0px auto 0px auto;
            left: 0;
            right: 0;
            z-index: -10;
            margin-top: 42px;
        }
    }

    #second {
        top: 104px;
        padding-bottom: 70px;

        #main-form {
            top: 50px;
            width: 400px;
            right: -13px;

            .esp {
                font-size: 1.85em;
                margin: 50px 2px 0px 2px;
                letter-spacing: 0.8px;
                line-height: 43px;
            }

            .alarm-font {
                margin: 40px 40px 0px 40px;
            }

            #start-now {
                margin-top: 20px;
            }
        }

        #email-wrapper {
            margin-top: -6px;
        }

        #email-form-wrapper {
            margin: 0;
            padding-top: 18px;
            padding-bottom: 35px;

            .email-form-text {
                font-size: 1em;
                margin: -7px 10px 0px 10px;
                letter-spacing: 0.5px;
            }

            #email-input {
                margin-top: 80px;
                max-width: 80%;
            }

            #email-submit-button {
                margin-top: 80px;
            }

            #have-account {
                margin-top: 15px;
            }

            #account-exists {
                margin: -167px 0px 0px 20px;
            }

            #exclamation {
                margin-top: -167px;
                margin-left: 15px;
            }
        }

        .checkup-wrapper {
            height: 723px;
            padding-right: 0px;

            #checkup-headline {
                font-size: 4em; // left: 10px;
                // padidn-left: 10px;
                margin: -15px 0px 0px 40px;
                line-height: 75px;
                letter-spacing: 1px;
            }

            #stacks {
                font-size: 1em;
                margin: -20px 0px 0px 43px;
                letter-spacing: 0.3px;
            }

            #pig-logo {
                position: absolute;
                width: 360px;
                margin-left: -40px;
                bottom: 5px;
                margin-left: 20px;
            }
        }
    }

    #third {
        margin: 0 auto;
        padding: 80px 5px 90px 5px;
        margin-top: 110px;

        #disclaimer-text {
            margin-top: 20px;
        }
    }

    #fourth {
        margin-top: -30px;
        padding-bottom: 95px;
    }

    #fifth {
        padding-bottom: 60px;

        #employees-heading {
            font-size: 2.5em;
            margin: 0px 40px 0px 40px;
            padding-top: 92px;
            letter-spacing: 2.7px;
            line-height: 58px;
        }

        ul {
            margin-top: 30px;
        }

        li {
            margin: 20px 50px 20px 50px;
        }
    }

    footer {
        margin-top: 0px;
        width: 95%;

        #copywrite {
            margin-top: -8px;
        }

        #small-text {
            margin-top: -63px;
        }
    }
}

/////////////////
// LARGE PHONE //
/////////////////
@media only screen and (max-width: 767px) {
    #first {
        height: 88px;

        #blooom-logo {
            top: 18px;
            margin: -10px auto 0px auto;
            width: 135px;
            left: 0;
            right: 0;
        }

        #banking-rates-logo {
            margin: 33px auto 0px auto;
            left: 0;
            right: 0;
            z-index: -10;
            width: 160px;
        }
    }

    #second {
        padding-bottom: 110px;

        #mobile-text-wrapper {
            display: inline-block;
        }

        #main-form {
            margin-top: 75px;
            width: 336px;
            right: -6px;
            padding-bottom: 50px;

            .esp {
                font-size: 1.5em;
                font-weight: 300;
                margin: 40px 20px 0px 20px;
                letter-spacing: 1.5px;
                line-height: 36px;
            }

            .name-font {
                font-size: 0.95em;
                margin-top: -20px;
            }

            #first-name-form {
                margin-top: 0px;
                height: 37px;
            }

            .drop {
                height: 35px;
                margin-top: 10px;
                font-size: 0.9em;
                padding-left: 5px;
            }

            .fa {
                margin: 13px 0px 0px 45px;
                font-size: 1.8em;
            }

            .fa1 {
                margin-left: 100px;
            }

            .born-on {
                margin-top: 33px;
                font-size: 0.9em;
            }

            #month-drop {
                width: 120px;
                margin-left: 8px;
            }

            #day-drop {
                width: 65px;
            }

            #year-drop {
                width: 75px;
            }

            #retire-drop {
                width: 70px;
                padding-left: 13px;
                font-size: 1.1em;
            }

            .alarm-font {
                font-size: 0.9em;
                margin-top: 32px;
            }

            #start-now {
                margin-top: 13px;
                width: 146px;
                height: 40px;
                font-size: 1em;
                letter-spacing: 0.8px;
            }
        }

        #email-form-wrapper {
            margin-top: 5px;
            width: 335px;
            height: 510px;
            padding-top: 0px;
            padding-bottom: 50px;

            #first-thing {
                font-size: 1.5em;
                line-height: 35px;
                margin-top: 43px;
                letter-spacing: 0.7px;
            }

            .email-form-text {
                font-size: 0.9em;
                margin: -10px 32px 0px 32px;
                line-height: 25px;
                letter-spacing: 0px;
            }

            #email-input {
                margin: 55px 0px 0px 7px;
                height: 46px;
                width: 320px;
                font-size: 1em;
            }

            #email-submit-button {
                margin-top: 74px;
                width: 146px;
                height: 40px;
                font-size: 1em;
                letter-spacing: 0.8px;
            }

            #have-account {
                font-size: 0.67em;
                margin-top: 13px;
                padding-bottom: 0px;
            }

            #account-exists {
                margin-top: -150px;
                font-size: 0.7em;
            }

            #exclamation {
                margin: -150px 250px 0px 0px;
                width: 20px;
            }
        }
    }

    #third {
        padding: 34px 10px 40px 10px;

        #disclaimer-header {
            font-size: 1.68em;
        }

        #disclaimer-text {
            font-size: 0.8em;
            line-height: 23px;
        }
    }

    #fourth {
        padding-bottom: 43px;

        .over {
            font-size: 1.4em;
        }

        .over1 {
            margin-top: 85px;
        }

        .large {
            font-size: 3em;
            margin: -13px 5px 0px 0px;
            letter-spacing: 2.5px;
        }

        .exponent {
            left: 5px;
        }

        .exponent1 {
            top: -24px;
        }

        #assets {
            font-size: 1.2em;
            margin-top: 0px;
            letter-spacing: 1.4px;
            padding-bottom: 27px;
        }

        #underline1 {
            width: 324px;
        }

        .over2 {
            margin-top: 38px;
        }

        .exponent2 {
            top: -25px;
        }

        #analyzed {
            font-size: 1.27em;
            margin-top: 5px;
        }
    }

    #fifth {
        margin-left: -10px;
        padding-bottom: 18px;

        #employees-heading {
            font-size: 1.4em;
            margin-top: -43px;
            line-height: 32px;
            letter-spacing: 1.4px;
            padding-bottom: 20px;
        }

        #logo-assets {
            margin-top: 22px;
        }

        li {
            margin: 0px 27px 17px 27px;
        }

        img {
            width: 80%;
        }

        #cisco {
            margin-left: 50px;
            width: 55%;
        }
    }

    footer {
        #copywrite {
            font-size: 0.6em;
            margin-top: -13px;
        }

        #small-text {
            margin-top: -55px;
            font-size: 0.6em;
            right: 13px;
        }
    }
}

/////////////////
// SMALL PHONE //
/////////////////
@media only screen and (max-width: 480px) {
    #first {
        height: 103px;

        #blooom-logo {
            width: 160px;
            margin-top: -5px;
        }

        #banking-rates-logo {
            width: 195px;
            margin-top: 40px;
        }
    }

    #second {
        padding-top: 15px;
        padding-bottom: 100px;

        #start-your-free-headline {
            margin: 0px !important;
            line-height: 37px !important;
            letter-spacing: 1.5px !important;
        }

        #start-your-free-text {
            margin-top: 18px !important;
            letter-spacing: 0.5px !important;
        }

        .esp {
            margin: 40px 0px 0px 0px !important;
        }

        .name-font {
            font-size: 1.15em !important;
        }

        #main-form {
            margin-top: 100px !important;
            width: 300px;
            height: 675px;
        }

        #first-name-form {
            margin: 13px 0px 0px 5px !important;
            width: 320px !important;
            max-width: 87% !important;
            height: 45px !important;
        }

        .born-on {
            font-size: 1.1em !important;
        }

        .drop {
            height: 45px !important;
            font-size: 1.3em !important;
            padding-left: 10px !important;
            margin-top: 7px !important;
        }

        #month-drop {
            margin-top: 10px !important;
            width: 260px !important;
        }

        #day-drop {
            width: 126px !important;
        }

        #year-drop {
            width: 126px !important;
            padding-left: 15px !important;
        }

        .fa {
            margin-top: 17px !important;
        }

        .fa1 {
            margin-left: 233px !important;
        }

        .fa2 {
            margin: 70px 0px 0px -170px !important;
        }

        .fa3 {
            margin: 15px 0px 0px 100px !important;
        }

        .alarm-font {
            font-size: 1.1em !important;
            margin: 32px 0px 0px 0px !important;
            letter-spacing: 1.5px !important;
        }

        #retire-drop {
            margin-top: 10px !important;
            width: 76px !important;
            height: 42px !important;
        }

        #start-now {
            margin-top: 16px !important;
            width: 175px !important;
            height: 50px !important;
            font-size: 1.2em !important;
        }

        #email-form-wrapper {
            padding-top: 52px;
            width: 300px;
            height: 675px;

            #first-thing {
                font-size: 1.3em !important;
                margin: 0px 25px 0px 25px;
                letter-spacing: 2px;
            }

            .email-form-text {
                font-size: 1em;
                line-height: 29px;
                margin: 15px 20px 0px 20px;
            }

            .email-input {
                margin-top: 49px !important;
                height: 52px !important;
                width: 320px !important;
                max-width: 86% !important;
            }

            #account-exists {
                font-size: 0.9em !important;
                margin-left: 57px !important;
                top: -28px;
                text-align: left;
            }

            #exclamation {
                width: 20px !important;
                left: 20px;
                top: -30px;
            }

            #email-submit-button {
                margin-top: 90px;
                width: 170px;
                height: 48px;
                font-size: 1.3em;
            }

            #have-account {
                font-size: 0.85em;
                margin-top: 15px;
            }
        }
    }

    #third {
        padding: 47px 0px 36px 0px;
        margin: 107px -5px 0px -5px;

        #disclaimer-header {
            font-size: 1.9em;
            letter-spacing: 1px;
        }

        #disclaimer-text {
            font-size: 0.9em;
            letter-spacing: 0.5px;
            line-height: 28px;
        }
    }

    #fourth {
        padding-bottom: 25px;
        width: 300px;

        .over {
            font-size: 1.5em;
        }

        .over1 {
            margin-top: 68px;
        }

        .large {
            font-size: 3.7em;
        }

        .billion {
            margin-top: -10px;
            line-height: 80px;
        }

        .exponent {
            margin-right: -20px;
        }

        .exponent1 {
            top: -108px;
        }

        .exponent2 {
            top: -28px;
        }

        #assets {
            font-size: 1.5em;
            margin: 5px 20px 0px 20px;
            letter-spacing: 1px;
            line-height: 33px;
        }

        #underline1 {
            padding-top: 50px;
            width: 200px;
        }

        #analyzed {
            font-size: 1.5em;
            margin-top: 10px;
        }
    }

    #fifth {
        padding: 20px 0px 5px 0px;

        #employees-heading {
            font-size: 1.7em;
            margin: -73px 30px 0px 30px;
            line-height: 38px;
        }

        #logo-assets {
            margin-top: -10px;
        }

        img {
            width: 100%;
        }

        li {
            margin: 23px 10px 17px 10px;
        }

        #cisco {
            width: 70%;
        }
    }

    footer {
        #copywrite {
            font-size: 0.7em;
            margin-top: 7px;
        }

        #small-text {
            font-size: 0.7em;
            margin: -75px auto 0px auto;
            right: 0;
            text-align: center;
            left: 0;
        }
    }
}