/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mockup {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0.7 !important; }

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #4b4b4b; }

.container-fluid {
  max-width: 1230px !important; }

.dark-font {
  color: #4b4b4b; }

.light-font {
  color: #a7a7a7; }

.invalid-form {
  border-color: red; }

.visible {
  display: initial; }

.hidden {
  display: none; }

#first {
  height: 73px;
  width: 100%;
  border-bottom: solid #d0d0d0 1px;
  position: relative;
  max-width: 1200px; }
  #first #blooom-logo {
    top: 10px;
    left: 40px; }
  #first #banking-rates-logo {
    top: 20px;
    right: 40px; }
  #first .top-logo {
    position: absolute; }

.mockup {
  margin: auto;
  background-image: url("assets/Desktop_Name2.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 5px;
  opacity: 0.4;
  z-index: 10; }

#second {
  padding-bottom: 174px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid #d0d0d0 1px;
  text-align: center; }
  #second #mobile-text-wrapper {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0; }
    #second #mobile-text-wrapper #start-your-free-headline {
      font-size: 1.8em;
      margin: 5px 25px 0px 25px;
      color: #4b4b4b;
      letter-spacing: 2.1px;
      line-height: 33px; }
    #second #mobile-text-wrapper #start-your-free-text {
      margin-top: 15px;
      font-size: 0.9em;
      color: #a7a7a7; }
  #second .form-wrapper {
    left: -10px; }
  #second #main-form {
    position: relative;
    top: 67px;
    border: 1px solid #d0d0d0;
    margin: 0 auto;
    max-width: 489px;
    padding-bottom: 60px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07); }
    #second #main-form select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      border-radius: 5px; }
    #second #main-form select::-ms-expand {
      display: none; }
    #second #main-form .alarm-font {
      display: inline-block;
      font-size: 1.07em;
      margin-top: 40px;
      font-weight: 500;
      max-width: 90%; }
    #second #main-form .born-on {
      display: inline-block;
      margin-top: 40px;
      font-weight: 500; }
    #second #main-form .drop {
      background: transparent !important;
      margin-top: 12px;
      height: 43px;
      border: 1px solid #d0d0d0 !important;
      color: #a7a7a7;
      font-style: italic;
      font-size: 1.2em;
      padding-left: 6px; }
    #second #main-form .fa-angle-down {
      position: absolute;
      color: #a7a7a7;
      display: inline-block;
      margin-top: 17px;
      z-index: -100; }
    #second #main-form .fa1 {
      margin-left: 118px; }
    #second #main-form .fa2 {
      margin-left: 55px; }
    #second #main-form .fa3 {
      margin-left: 65px; }
    #second #main-form .fa4 {
      margin-left: 49px; }
    #second #main-form #month-drop {
      width: 147px;
      margin-left: 4px; }
    #second #main-form #day-drop {
      margin-left: 4px;
      width: 78px; }
    #second #main-form #year-drop {
      margin-left: 3px;
      width: 90px; }
    #second #main-form #retire-drop {
      margin-top: 10px;
      width: 78px;
      font-style: normal;
      padding-left: 13px; }
    #second #main-form .esp {
      font-size: 2em;
      font-weight: 700;
      margin: 43px 50px 0px 50px;
      line-height: 1.3; }
    #second #main-form #start-now {
      margin-top: 16px;
      height: 49px;
      width: 172px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0);
      color: white;
      background: #d0d0d0;
      font-size: 1.3em;
      outline: none;
      font-weight: 200;
      letter-spacing: 1.7px; }
    #second #main-form #first-name-form {
      margin-top: 10px;
      width: 400px;
      max-width: 85%;
      background-color: transparent;
      height: 46px;
      border-radius: 5px;
      outline: none;
      text-align: center;
      border: 1px solid #d0d0d0; }
    #second #main-form .name-form {
      margin-top: 40px; }
    #second #main-form .name-form:valid #start-now {
      background: #79b74d; }
    #second #main-form .name-font {
      font-size: 1.15em; }
  #second .checkup-wrapper {
    height: 635px;
    width: 200px;
    text-align: left; }
    #second .checkup-wrapper #check-wrapper-inner {
      margin-top: 105px; }
    #second .checkup-wrapper #checkup-headline {
      color: #4b4b4b;
      font-size: 4.4em;
      margin-right: 30px;
      line-height: 1.07;
      margin-top: 35px; }
      #second .checkup-wrapper #checkup-headline .start {
        letter-spacing: 3px; }
      #second .checkup-wrapper #checkup-headline .free {
        letter-spacing: 2px; }
    #second .checkup-wrapper #stacks {
      font-size: 1.3em;
      margin-top: -13px;
      color: #a7a7a7; }
    #second .checkup-wrapper #pig-logo {
      display: block;
      margin: 63px auto 0px 32px; }
  #second #email-form-wrapper {
    display: inline-block;
    margin: 0px 25px 0px 25px;
    padding-bottom: 165px; }
    #second #email-form-wrapper #first-thing {
      margin-top: 38px;
      font-size: 1.9em;
      letter-spacing: 1.3px;
      line-height: 43px;
      color: #4b4b4b; }
    #second #email-form-wrapper .email-form-text {
      margin: -3px 20px 0px 20px;
      color: #a7a7a7;
      font-size: 1.2em;
      line-height: 29px;
      font-weight: 100; }
    #second #email-form-wrapper .email-input {
      margin: 70px 0px 0px 5px;
      color: #a7a7a7;
      height: 52px;
      width: 400px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid #d0d0d0;
      font-size: 1.15em;
      font-weight: 100;
      outline-color: transparent;
      outline-style: none; }
    #second #email-form-wrapper .email-input::-webkit-input-placeholder {
      color: #d0d0d0; }
  #second .email-form:valid #email-submit-button {
    background: #79b74d; }
  #second #email-submit-button {
    outline-color: transparent;
    outline-style: none;
    margin: 72px 0px 0px 2px;
    width: 175px;
    height: 49px;
    border-radius: 5px;
    background: #d0d0d0;
    color: white;
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 1.4em;
    border: 1px solid #d0d0d0; }
  #second #account-exists {
    position: relative;
    color: #d90122;
    margin: -185px 0px 0px 10px;
    letter-spacing: 0.1px;
    font-size: 0.87em; }
    #second #account-exists .sign-in {
      color: #79b74d; }
  #second #exclamation {
    position: relative;
    margin: -325px 310px 0px 0px; }
  #second #have-account {
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 0.84em; }
    #second #have-account .sign-in {
      color: #79b74d; }

#third {
  margin: 107px 55px 0px 57px;
  padding-bottom: 100px;
  border-bottom: 1px solid #d0d0d0; }
  #third a {
    color: #79b74d; }
  #third #disclaimer-header {
    font-size: 2em; }
  #third #disclaimer-text {
    margin-top: 23px;
    line-height: 28px;
    color: #a7a7a7; }

#fourth {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
  max-width: 1090px;
  color: #4b4b4b;
  padding-bottom: 100px; }
  #fourth .over {
    font-size: 2em; }
  #fourth .over1 {
    margin-top: 114px; }
  #fourth .over2 {
    margin-top: 70px; }
  #fourth .large {
    font-size: 7em;
    font-weight: 500; }
  #fourth .billion {
    margin: -15px 0px 0px 24px;
    letter-spacing: 3.5px; }
  #fourth .exponent {
    color: #a7a7a7;
    font-size: 0.5em;
    position: relative;
    top: -52px;
    left: -7px; }
  #fourth #assets {
    font-size: 1.95em;
    margin-top: 31px;
    letter-spacing: 1.5px;
    padding-bottom: 58px; }
  #fourth #underline1 {
    border-bottom: 1px solid #d0d0d0;
    width: 390px;
    margin: 0 auto; }
  #fourth .underline2 {
    border-bottom: 1px solid #d0d0d0;
    width: 1090px;
    margin: 0 auto; }
  #fourth .hundred-thousand {
    letter-spacing: 1.7px;
    margin: -10px 0px 0px 25px; }
  #fourth .exponent2 {
    top: -65px;
    left: 6px; }
  #fourth #analyzed {
    font-size: 1.95em;
    margin-top: 23px;
    letter-spacing: 0.6px; }

#fifth {
  margin: 0 auto;
  text-align: center;
  max-width: 1090px;
  color: #4b4b4b;
  padding-bottom: 60px; }
  #fifth ul {
    margin-top: 50px; }
  #fifth li {
    display: inline-block;
    margin: 0px 51px 0px 51px; }
  #fifth #employees-heading {
    font-size: 2.7em;
    font-weight: 500;
    margin-top: 97px;
    letter-spacing: 1.4px; }

footer {
  border-top: 1px solid #d0d0d0;
  height: 100px;
  color: #a7a7a7;
  padding-top: 43px;
  width: 86%;
  position: relative;
  max-width: 1200px;
  position: absolute;
  margin: 30px auto 0px auto;
  left: 0;
  right: 0; }
  footer #copywrite {
    text-align: center;
    margin-left: -6px;
    letter-spacing: 0.1px;
    font-size: 0.7em; }
    footer #copywrite #copy-symbol {
      font-size: 1.4em; }
  footer #small-text {
    position: absolute;
    right: 5px;
    font-size: .7em;
    margin-top: -67px; }

@media only screen and (max-width: 1024px) {
  .container-fluid {
    padding: 0; }

  #first {
    height: 104px;
    width: 100vw;
    position: absolute;
    right: 0px; }
    #first #blooom-logo {
      top: 18px;
      margin: 0px auto 0px auto;
      left: 0;
      right: 0; }
    #first #banking-rates-logo {
      margin: 0px auto 0px auto;
      left: 0;
      right: 0;
      z-index: -10;
      margin-top: 42px; }

  #second {
    top: 104px;
    padding-bottom: 70px; }
    #second #main-form {
      top: 50px;
      width: 400px;
      right: -13px; }
      #second #main-form .drop {
        margin-top: 8px; }
      #second #main-form .esp {
        font-size: 1.85em;
        margin: 50px 2px 0px 2px;
        letter-spacing: 0.8px;
        line-height: 43px; }
      #second #main-form .alarm-font {
        margin: 40px 40px 0px 40px; }
      #second #main-form #start-now {
        margin-top: 20px; }
    #second #email-wrapper {
      margin-top: -6px; }
    #second #email-form-wrapper {
      margin: 0;
      padding-top: 18px;
      padding-bottom: 185px; }
      #second #email-form-wrapper #first-thing {
        margin-top: 30px; }
      #second #email-form-wrapper .email-form-text {
        font-size: 1em;
        margin: -7px 10px 0px 10px;
        letter-spacing: 0.2px; }
      #second #email-form-wrapper #email-input {
        margin-top: 80px;
        max-width: 80%; }
      #second #email-form-wrapper #email-submit-button {
        margin-top: 80px; }
      #second #email-form-wrapper #have-account {
        margin-top: 15px; }
      #second #email-form-wrapper #account-exists {
        margin: -190px 0px 0px 20px; }
      #second #email-form-wrapper #exclamation {
        margin-top: -337px;
        margin-left: 15px; }
    #second .checkup-wrapper {
      height: 723px;
      padding-right: 0px; }
      #second .checkup-wrapper #checkup-headline {
        font-size: 4em;
        margin: -15px 0px 0px 40px;
        line-height: 75px;
        letter-spacing: 1px; }
      #second .checkup-wrapper #stacks {
        font-size: 1em;
        margin: -20px 0px 0px 43px;
        letter-spacing: 0.3px; }
      #second .checkup-wrapper #pig-logo {
        position: absolute;
        width: 360px;
        margin-left: -40px;
        bottom: 5px;
        margin-left: 20px; }

  #third {
    margin: 0 auto;
    padding: 80px 5px 90px 5px;
    margin-top: 110px; }
    #third #disclaimer-text {
      margin-top: 20px; }

  #fourth {
    margin-top: -30px;
    padding-bottom: 95px; }

  #fifth {
    padding-bottom: 60px; }
    #fifth #employees-heading {
      font-size: 2.5em;
      margin: 0px 40px 0px 40px;
      padding-top: 92px;
      letter-spacing: 2.7px;
      line-height: 58px; }
    #fifth ul {
      margin-top: 30px; }
    #fifth li {
      margin: 20px 50px 20px 50px; }

  footer {
    margin-top: 0px;
    width: 95%; }
    footer #copywrite {
      margin-top: -8px; }
    footer #small-text {
      margin-top: -63px; } }
@media only screen and (max-width: 767px) {
  #first {
    height: 75px; }
    #first #blooom-logo {
      top: 18px;
      margin: -10px auto 0px auto;
      width: 117px;
      left: 0;
      right: 0; }
    #first #banking-rates-logo {
      margin: 25px auto 0px auto;
      left: 0;
      right: 0;
      z-index: -10;
      width: 140px; }

  #second {
    padding-bottom: 85px; }
    #second #mobile-text-wrapper {
      display: inline-block;
      max-width: 400px; }
    #second #start-your-free-headline {
      font-size: 1.5em !important;
      margin-top: -10px !important;
      line-height: 28px !important; }
    #second #start-your-free-text {
      font-size: 0.75em !important; }
    #second #main-form {
      margin-top: 43px;
      width: 288px;
      right: -6px;
      padding-top: 0px;
      padding-bottom: 20px; }
      #second #main-form .esp {
        font-size: 1.25em;
        font-weight: 300;
        margin: 37px 20px 0px 20px;
        letter-spacing: 1.5px;
        line-height: 30px; }
      #second #main-form .name-form {
        margin-top: 23px;
        padding-bottom: 25px; }
      #second #main-form .name-font {
        font-size: 0.8em;
        margin-top: -60px; }
      #second #main-form #first-name-form {
        margin-top: 5px;
        height: 34px;
        max-width: 82%; }
      #second #main-form .drop {
        height: 33px;
        margin-top: 5px;
        font-size: 0.8em;
        padding-left: 5px; }
      #second #main-form .fa {
        margin: 9px 0px 0px 45px;
        font-size: 1.5em; }
      #second #main-form .fa1 {
        margin-left: 87px; }
      #second #main-form .fa2 {
        margin-left: 37px; }
      #second #main-form .fa4 {
        margin-left: 35px; }
      #second #main-form .born-on {
        margin-top: 28px;
        font-size: 0.8em; }
      #second #main-form #month-drop {
        width: 105px;
        margin-left: 7px; }
      #second #main-form #day-drop {
        width: 55px;
        margin-left: 2px; }
      #second #main-form #year-drop {
        width: 65px;
        margin-left: 2px; }
      #second #main-form #retire-drop {
        margin-top: 7px;
        width: 55px;
        padding-left: 13px;
        font-size: 0.8em;
        height: 30px; }
      #second #main-form .alarm-font {
        font-size: 0.8em;
        margin-top: 25px; }
      #second #main-form #start-now {
        margin-top: 8px;
        width: 124px;
        height: 35px;
        font-size: 0.8em;
        letter-spacing: 0.8px; }
    #second #email-form-wrapper {
      margin-top: 5px;
      width: 290px;
      height: 460px;
      padding-top: 0px; }
      #second #email-form-wrapper #first-thing {
        font-size: 1.3em;
        line-height: 30px;
        margin-top: 37px;
        letter-spacing: 0.5px; }
      #second #email-form-wrapper .email-form-text {
        font-size: 0.75em;
        margin: -10px 32px 0px 32px;
        line-height: 21px;
        letter-spacing: 0.1px; }
      #second #email-form-wrapper #email-input {
        margin: 51px 0px 0px 7px;
        height: 38px;
        width: 324px;
        max-width: 81%;
        font-size: 0.8em; }
      #second #email-form-wrapper #email-submit-button {
        margin-top: 64px;
        width: 124px;
        height: 35px;
        font-size: 1em;
        letter-spacing: 0.8px; }
      #second #email-form-wrapper #have-account {
        font-size: 0.58em;
        margin-top: 10px;
        padding-bottom: 0px; }
      #second #email-form-wrapper #account-exists {
        margin-top: -153px;
        font-size: 0.6em;
        margin-left: 15px; }
      #second #email-form-wrapper #exclamation {
        margin: -272px 215px 0px 0px;
        width: 15px; }

  #third {
    padding: 42px 10px 34px 10px; }
    #third #disclaimer-header {
      font-size: 1.4em; }
    #third #disclaimer-text {
      font-size: 0.65em;
      line-height: 20px;
      margin-top: -3px; }

  #fourth {
    padding-bottom: 35px; }
    #fourth .over {
      font-size: 1.1em; }
    #fourth .over1 {
      margin-top: 78px; }
    #fourth .large {
      font-size: 2.5em;
      margin: -13px 5px 0px 0px;
      letter-spacing: 2.5px; }
    #fourth .exponent {
      left: 5px; }
    #fourth .exponent1 {
      top: -20px; }
    #fourth #assets {
      font-size: 1em;
      margin-top: 0px;
      letter-spacing: 1.4px;
      padding-bottom: 20px; }
    #fourth #underline1 {
      width: 280px; }
    #fourth .over2 {
      margin-top: 35px; }
    #fourth .exponent2 {
      top: -20px; }
    #fourth #analyzed {
      font-size: 1.05em;
      margin-top: 7px; }

  #fifth {
    margin-left: -10px;
    padding-bottom: 145px; }
    #fifth #employees-heading {
      font-size: 1.1em;
      margin-top: -50px;
      line-height: 28px;
      letter-spacing: 1px;
      padding-bottom: 5px; }
    #fifth #logo-assets {
      margin-top: 15px; }
    #fifth li {
      position: absolute;
      margin-left: auto;
      margin-right: auto; }
    #fifth #linkedin {
      margin-left: -260px;
      width: 85px; }
    #fifth #amazon {
      margin-left: -18px;
      width: 90px; }
    #fifth #apple {
      width: 33px;
      margin-top: -5px;
      margin-left: 145px; }
    #fifth #cisco {
      margin-top: 47px;
      margin-left: -110px;
      width: 75px; }
    #fifth #oracle {
      width: 90px;
      margin-top: 60px;
      margin-left: 50px; }

  footer #copywrite {
    font-size: 0.1em;
    margin-top: -15px; }
  footer #small-text {
    margin-top: -48px;
    font-size: 8px;
    right: 15px; } }
@media only screen and (max-width: 411px) {
  #first {
    height: 103px; }
    #first #blooom-logo {
      width: 160px;
      margin-top: -5px; }
    #first #banking-rates-logo {
      width: 195px;
      margin-top: 40px; }

  #second {
    padding-top: 15px;
    padding-bottom: 100px; }
    #second #start-your-free-headline {
      margin: 0px !important;
      line-height: 37px !important;
      letter-spacing: 1.5px !important; }
    #second #start-your-free-text {
      margin-top: 18px !important;
      letter-spacing: 0.5px !important; }
    #second .esp {
      margin: 40px 0px 0px 0px !important; }
    #second .name-font {
      font-size: 1.15em !important; }
    #second #main-form {
      margin-top: 100px !important;
      width: 300px;
      height: 675px; }
    #second #first-name-form {
      margin: 13px 0px 0px 5px !important;
      width: 320px !important;
      max-width: 87% !important;
      height: 45px !important; }
    #second .born-on {
      font-size: 1.1em !important; }
    #second .drop {
      height: 45px !important;
      font-size: 1.3em !important;
      padding-left: 10px !important;
      margin-top: 7px !important; }
    #second #month-drop {
      margin-top: 10px !important;
      width: 260px !important; }
    #second #day-drop {
      width: 126px !important; }
    #second #year-drop {
      width: 126px !important;
      padding-left: 15px !important; }
    #second .fa {
      margin-top: 17px !important; }
    #second .fa1 {
      margin-left: 233px !important; }
    #second .fa2 {
      margin: 70px 0px 0px -170px !important; }
    #second .fa3 {
      margin: 15px 0px 0px 100px !important; }
    #second .alarm-font {
      font-size: 1.1em !important;
      margin: 32px 0px 0px 0px !important;
      letter-spacing: 1.5px !important; }
    #second #retire-drop {
      margin-top: 10px !important;
      width: 76px !important;
      height: 42px !important; }
    #second #start-now {
      margin-top: 16px !important;
      width: 175px !important;
      height: 50px !important;
      font-size: 1.2em !important; }
    #second #email-form-wrapper {
      padding-top: 52px;
      width: 300px;
      height: 675px; }
      #second #email-form-wrapper #first-thing {
        font-size: 1.3em !important;
        margin: 0px 25px 0px 25px;
        letter-spacing: 2px; }
      #second #email-form-wrapper .email-form-text {
        font-size: 1em;
        line-height: 29px;
        margin: 15px 20px 0px 20px; }
      #second #email-form-wrapper .email-input {
        margin-top: 49px !important;
        height: 52px !important;
        width: 320px !important;
        max-width: 86% !important; }
      #second #email-form-wrapper #account-exists {
        font-size: 0.9em !important;
        margin-left: 57px !important;
        top: -28px;
        text-align: left; }
      #second #email-form-wrapper #exclamation {
        width: 20px !important;
        left: 20px;
        top: -30px; }
      #second #email-form-wrapper #email-submit-button {
        margin-top: 90px;
        width: 170px;
        height: 48px;
        font-size: 1.3em; }
      #second #email-form-wrapper #have-account {
        font-size: 0.85em;
        margin-top: 15px; }

  #third {
    padding: 47px 0px 36px 0px;
    margin: 107px -5px 0px -5px; }
    #third #disclaimer-header {
      font-size: 1.9em;
      letter-spacing: 1px; }
    #third #disclaimer-text {
      font-size: 0.9em;
      letter-spacing: 0.5px;
      line-height: 28px; }

  #fourth {
    padding-bottom: 25px;
    width: 300px; }
    #fourth .over {
      font-size: 1.5em; }
    #fourth .over1 {
      margin-top: 68px; }
    #fourth .large {
      font-size: 3.7em; }
    #fourth .billion {
      margin-top: -10px;
      line-height: 80px; }
    #fourth .exponent {
      margin-right: -20px; }
    #fourth .exponent1 {
      top: -108px; }
    #fourth .exponent2 {
      top: -28px; }
    #fourth #assets {
      font-size: 1.5em;
      margin: 5px 20px 0px 20px;
      letter-spacing: 1px;
      line-height: 33px; }
    #fourth #underline1 {
      padding-top: 50px;
      width: 200px; }
    #fourth #analyzed {
      font-size: 1.5em;
      margin-top: 10px; }

  #fifth {
    padding: 20px 0px 5px 0px; }
    #fifth #employees-heading {
      font-size: 1.7em;
      margin: -73px 30px 0px 30px;
      line-height: 38px; }
    #fifth #logo-assets {
      margin-top: -10px; }
    #fifth img {
      width: 100%; }
    #fifth li {
      margin: 23px 10px 17px 10px; }
    #fifth #cisco {
      width: 70%; }

  footer #copywrite {
    font-size: 0.7em;
    margin-top: 7px; }
  footer #small-text {
    font-size: 0.7em;
    margin: -75px auto 0px auto;
    right: 0;
    text-align: center;
    left: 0; } }

/*# sourceMappingURL=style.css.map */
